<form class="login-form" [formGroup]="loginFrom" (ngSubmit)="loginSubmit()">
  <div class="form-group">
    <label for="username1">Username</label>
    <input type="text"
           formControlName="username"
           class="form-control"
           id="username1"
           aria-describedby="emailHelp"
           placeholder="Enter username">
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>-->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password"
           formControlName="password"
           class="form-control"
           id="exampleInputPassword1"
           placeholder="Password">
  </div>
  <button type="submit"
          class="btn btn-primary"
          [disabled]="!loginFrom.valid">Submit</button>
  <div class="alert-danger Invalid" *ngIf="isNotValid">Invalid username or password.</div>
</form>
